@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    background-color: #0b0e19;
    
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0e19;
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .loader {
    border: 8px solid #70e0d0;
    border-radius: 50%;
    border-top: 8px solid  #70e0d0;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .gif{
    width: 300px; /* Largura desejada para o GIF */
    height: auto; /* Altura ajustada automaticamente de acordo com a largura */
    border-radius: 20px;
  }

  .highlight {
    color: #fff;
  }

  .loading-message {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }

  .content-tela {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .gif {
      width: 225px; /* Reduz a largura do GIF em telas menores */
    }

    .loading-message {
      font-size: 6vw; /* Reduz o tamanho da fonte em telas menores */
    }

    .loader{
        margin-top: 30px;
    }
  }

header{
    height: 100px;
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding: 22px 4%;
}

#chk1{
    display: none;    
}

.ico-menu{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color: #70e0d0;
     
    margin-left: 50px;
    font-weight: 600;
    font-size: 15px;
}

header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
}

header ul li a:hover{
    border-bottom: 2px solid #70e0d0;
}

header .menu{
    font-size: 2.5em;
    display: none;
    color:#fff;
}

.ico{
    color: #fff;
}


@media(max-width:650px){
    .search-box button{
        position: absolute;
    }
    header ul{
    position: fixed;
    top: 92px;
    right: -100%;
    background: rgba(0,0,0,0.5);
    height: calc(100vh - 300px);
    width: 70%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width: 50px;
        /* text-align: center; */
    }
    
    #chk1:checked ~ ul{
        right: 0;
        
    }
    header{
        padding-top: 25px;
    }

    header .logo{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
  
}

/*^^^^ menu */

.apresentacao{
    height: 80vh;
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-around;
}


.texto-foto{
    max-width: 600px;
}

.t-pequeno{
    color: #70e0d0;
    font-size: 17px;
    font-weight: 800;
}
.t-titulo{
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
    color:#fff;
}
.t-cargo{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 800;
    color: #70e0d0;
}

.t-conteudo{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 200px;
    color:#fff;
    line-height: 1.5;
}

.t-conteudo2{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200px;
    color:#fff;
    line-height: 1.5;
}

.botao-curriculo{
    width: 210px;
    height: 45px;
    border-radius: 11px;
    background: transparent;
    font-weight: 700;
    font-size: 15px;
    margin-top: 30px;
    border-color: #70e0d0;
    color: #fff;
}
.bt{
    color: #fff;
    text-decoration: none;
}

.botao-curriculo:hover{
    background-color: #70e0d0;
    cursor: pointer;
    color: #231f2e;
    transition: transform 0.2s;
}


.img{
    max-width: 400px;
    height: auto;
}

@media(max-width:650px){
    .apresentacao{
        height: 102vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .t-titulo{
        font-size: 35px;
        margin: 12px;
    }

    .texto-foto{
        text-align: center;
    }

    .t-conteudo .t-conteudo2{
        padding: 0 30px;
    }

    .img{
        max-width: 300px;
        height: auto;
        margin-top: 50px;
    }
}



/* ^^^^ Apresentação */

.container-qualificacoes{
    HEIGHT: 750px;
    width: 100%;
    background-color: #05070e;
    padding: 0 5%;
}

.container-skills{
    display: flex;
    align-content: center;
    align-items: stretch;
    margin-top: 70px;
}

.foto-skill{
    max-width: 326px;
    margin-top: 20px;
}

.quali-texto{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 120px;
    color: #70e0d0;
    text-align: center;
    padding: 80px 0;
}

/*         */

.skills-f{
    width: 100%;
    max-width: 600px;
    padding: 0 5%;
    margin-top: -60px;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 5%;
    margin-top: -60px;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skills-per{
    height: 14px;
    background: #70e0d0;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skills-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skills-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media(max-width:650px){
    .container-qualificacoes{
        HEIGHT: 670px;
        width: 100%;
        background-color: #15121c;
        padding: 0 5%;
        margin-top: 230px;
    }

    .quali-texto{
        margin-top: 90px;
    }

    .skills-f{
        display: none;
    }

    .skill-name{
        font-size: 11px;
    }
}

/* cards */

.area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-area{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: -25px;
}

.container-area .a-card{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 13px;
}

.container-area .a-card .a-imgcard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191621;
    border-radius: 11px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container-area .a-card:hover .a-imgcard{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #70e0d0;
}

.container-area .a-card .a-imgcard:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 1.5em;
    color:#70e0d0;
    font-weight: 700;
}

.container-area .a-card .a-imgcard img{
    max-width: 80px;
    margin-top: -20px;
    transition: 0.5s ease-in-out;
}

.container-area .a-card:hover .a-imgcard img{
    max-width: 75px;
    margin-top: 5px;
}

.container-area .a-card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-area .a-card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}

.container-area .a-card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #212121;
    text-decoration: none;
    color: #fff;
}

.style-text{
    text-align: none;
    margin-top: 10px;
}

@media (max-width: 992px){
    .container-area{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container-area .a-card{
        width: 400px;
    }
}

@media (max-width: 650px){
    .container-area .a-card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .container-area .a-card .a-imgcard{
        position: relative;
    }
    .container-area .a-card .a-imgcard,
    .container-area .a-card:hover .a-imgcard{
        width: 100%;
        height: 200px;
        left: 0;
        font-size: 0rem;
    }
    .container-area .a-card .a-imgcard img,
    .container-area .a-card:hover .a-imgcard img{
        max-width: 100px;
    }
    .container-area .a-card .content{
        position: relative;
        width: 100%;
    }
    .style-text{
        text-align: center;
        margin-top: 10px;
    }

    .style-title{
        text-align: center;
    }
}


/* experiencia e curso */

section{
    display: flex;
    align-items: center;
    padding: 10rem 9% 2rem;
    justify-content: space-around;
}

.heading{
    color: #70e0d0;
    font-size: 2rem;
    margin-top: -370px;
    padding: 80px 0;
}

.education{
    margin-top: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2rem;
    margin: 0 0 2.5rem 3.7rem;
    color: #fff;
}

.education-column .education-box{
    border-left: .2rem solid #70e0d0;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.87rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #70e0d0;
    border-radius: 50%;
}

.education-content .e-content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #70e0d0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .e-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3f7e75a5;
    z-index: -1;
    transition: .5s;
}

.education-content .e-content:hover::before{
    width: 100%;
}

.education-content .e-content .year{
    font-size: 1rem;
    color: #70e0d0;
    padding-bottom: .5rem;
    font-weight: 600;
}

.education-content .e-content .year .ico-education{
    padding-right: .5rem;
}

.education-content .e-content .title-education{
    font-size: 1.3rem;
    color: #fff;
}

.education-content .e-content .text-education{
    font-size: 0.8rem;
    padding-top: 0.5rem;
    color: #fff;
    font-weight: 200;
}


@media(max-width:650px){
    .education{
        margin-top: 2340px;
    }

    .heading{
        padding: 60px 0;
        text-align: center;
        margin-top: -310px;
    }

    .education .education-row {
        display: flex;
        flex-wrap: nowrap;
        gap: 5rem;
        flex-direction: column;
    }

    .education-column .title{
        font-size: 2rem;
        text-align: center;
        color: #fff;
        margin: 0 0 2.5rem;
        margin-top: -30px;
    }
}


/* ------------------------------- */

#portclass{
    background-color: #15121c;
}

.meu-port{
    width: 100%;
    height: 1400px;
    display: flex;
    background-color: #15121c;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.title-port{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 120px;
    color: rgb(249, 90, 191);
    text-align: center;
    padding: 80px 0;
}

.linha-rosa {
    height: 2px;
    background-color: #70e0d0;
    margin-top: 25px;
}
.conteudo {
    display: none;
}

.conteudo h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #70e0d0;
}

.conteudo p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.title-port {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(249, 90, 191);
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
}

.menu-port {
    display: flex;
    align-items: center;
}

.menu-port li {
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    transition: .5s;
}

.menu-port li:hover {
    color: rgb(229, 90, 191);
    border-bottom: 1.5px solid rgb(249, 90, 191);
    
}

.menu-port li.selected {
    color: rgb(249, 90, 191);
    font-weight: 900;
    border-bottom: 1.5px solid rgb(249, 90, 191);
}

.text-li {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.tam-post{
    margin-top: 40px;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* padding: 0 12%; */
    padding: 0 16%; /* git hub */
}

.post{
    max-width: 180px;
    padding: 10px;
}

@media(max-width:650px){
    .meu-port {
        height: 720px;
        padding: 0 5%;
    }

    .menu-port li {
        cursor: pointer;
        padding: 0 5%;
        text-decoration: none;
        list-style: none;
        transition: .5s;
    }
    .text-li {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

    .post {
        max-width: 85px;
        padding: 5px;
    }

    .linha{
        padding: 0 8%;
    }

    .conteudo h1 {
        font-size: 1.4rem;
    }

    
    .conteudo p {
        font-size: 0.8rem;
    }
}


/* logotipos criados embaixo */

#lightbox .lb-outerContainer {
    background: #231f2e;
}


.linha-rosa2 {
    /* width: 67%; */
    height: 2px;
    background-color: rgb(249, 90, 191);
    margin-top: 25px;
    /* margin-left: 167px; */
}

.logotipo{
    height: 740px;
    padding: 0 4%;
    margin-top: 650px;
    
}

.logo-titulo{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(249, 90, 191);
    text-align: center;
    padding: 40px 0;
    margin-top: 40px;
}

.logo-subtitulo{
    text-align: center;
    margin-top: -15px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.logotipo-imagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    align-content: center;
    padding: 0 2%;
}

.l-imagem{
    width: 250px;
    margin: 22px;
}

@media(max-width:650px){


    .logotipo {
        height: 850px;
        margin-top: 1225px;
    }

    .linha-rosa2 {
        width: 100%;
        height: 2px;
        background-color: rgb(249, 90, 191);
        margin-top: -230px;
        margin-left: 0;
    }

    .logo-titulo {
        margin-top: 25px;
    }

    .l-imagem {
        width: 100px;
    }

    .logotipo-imagens {
        margin-top: 70px;
    }
}

/* ---------------------------------- */

.box-form{
    background-color:  #05070e;
    border-radius: 35px;
    padding: 10px;
    margin: 100px;
    text-align: center;
}

.img-form{
    max-width: 285px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-form{
    margin: 1%;
    text-align: center;
    color: #ffffff;
}

.botao-text{
    width: 210px;
    height: 45px;
    border-radius: 11px;
    background: transparent;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin: 25px 10px;
    border-color: #70e0d0;
}

.btn{
    color: #fff;
    text-decoration: none;
}

.botao-text:hover{
    background-color: #70e0d0;
    cursor: pointer;
    color: #231f2e;
    transition: transform 0.2s;
}

@media(max-width:650px){
    .box-form{
        height: 410px;
        /* width: 270px; */
        margin: 40px 60px;
    }
    .text-form{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 25px;
    }
    .img-form {
        max-width: 255px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}


/* rodape */

.rodape{
    width: 100%;
    text-align: center;
    padding: 40px;
    background-color: #05070e;
}

.logo-rodape{
    width: 60px;
    padding: 30px 10px;
    text-align: center;
    margin-top: -30px;
}

.menu-topo{
    margin: 10px auto;
}

.menu-rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}

.rodape .menu-rodape a{
    color: #ffffff;
    text-decoration: none ;
    font-weight: 500;
}

.menu-rodape, li:hover{
    color: #70e0d0;
    transition: transform 0.2s;
}

.linha-rodape{
    margin: 3%;
    border: 2px solid #70e0d0;
}

.text-rodape{
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    list-style: none;
    /* padding: 0 70px; */
    padding: 0 150px;
}

@media(max-width:650px){
    li{
        font-size: 10px;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .text-rodape{
        text-align: center;
        font-size: 9px;
        color: #ffffff;
        list-style: none;
        padding: 2px 60px;
    }
}
